/* Color Palette
light blue - #99ccff
dark blue - #003366

*/ 

body {
    background-color:white;
    background-attachment:fixed;
    font-family:tahoma;
    font-size:12px;
    height:100%;
    margin:0px;
	padding:0px;
    width:100%;
}

h1 {
	color:#000000;
    font-size:30px;
    font-weight:bold;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
	line-height:45px;
}

hr{
	color:white;
}


tr{
	width:100%;
	color:#003366;
	background-color:#99ccff;
	font-size:25px;
	border-bottom:5px white solid;
	list-style-type:none;
	white-space:nowrap;
}

input[type="checkbox"] {
	display:inline;
	transform:scale(2, 2);
}

input[type="radio"] {
	display:inline;
	transform:scale(2, 2);
}

/****************************************************
Div Classes
****************************************************/

/* Centering container */
.container{
	width:100%;
	height:100%;
	position:fixed;
	background-color:#FFFFFF;
}

/* Portrait layout (default) */
.app {
    width:100%;   
	height:100%;/* text area width */
    text-align:center;

}

.q{
	width:70%;
	border: none;
	background-color:#003366;
	color:#FFFFFF;
	font-size:17px;
	text-align:center;
}

.hideme{
	display:none;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:center;
    }
}

/****************************************************
Div Ids
****************************************************/
#page1, #page2, #page3, #page4, #page5{
	display:none;
}

#iresults{
	height:80%;
	overflow:auto;
}

#lcontain{
	height:90%;
}

#c2{
	display:none;
	opacity:.8;
}

#idescription{
	position:absolute;
	left:5%;
	top:30%;
	z-index:1;
	opacity:1;
	display:none;
	width:80%;
	background-color: #99ccff;
	color: #003366;
	font-size:16px;
	text-align: justify;
	padding: 5%;
	margin: 0 auto;
}

#adescription{
	top:30%;
	width:80%;
	background-color: #99ccff;
	color: #003366;
	font-size:20px;
	padding:10%;
	text-align:left;
	
}

/****************************************************
Buttons and Links
****************************************************/
#return{
	//display:none;
}

.header{
	width:100%;
	height:10%;
	margin-bottom:1%;
	background-color:#003366;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

.back{
	color:#FFCC33;
	display:block;
}

.p1 {
	width:100%;
	height:25%;
	color: #003366;
	background-color: #99ccff;
	border: 0px;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}

.d1{
	background-color: white;
	border: 0px;
	color: #FFCC33;
	font-family: tahoma;
	font-size: 20px;
	text-decoration: underline;
}

.question{
	display:block;
	margin:0 auto;
	width:100%;
	font-size:25px;
	line-height:30px;
	text-transform:uppercase;
	text-align:left;
	white-space:nowrap;
}


/****************************************************
Events
****************************************************/

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
